<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="secure_log" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="securelog" level="info" additivity="false">
        <appender-ref ref="secure_log" />
    </logger>

    <logger name="no.nav" level="info"/>

    <root level="info">
        <appender-ref ref="stdout_json"/>
    </root>
</configuration>
